html {
  scroll-behavior: smooth;

}

.App {
  text-align: center;
}


.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

Header{
  background: #780206; /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #780206, #061161); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #780206, #061161);
}

#myNav #iconNav {
  display: none;
}

@media screen and (max-width: 600px) {
  #myNav a {display: none;}
  #myNav #iconNav {
    display: block;
  }
}

@media screen and (max-width: 600px) {
  #myNavdisplay {position: relative; background-color: #780206; display: flex; flex-direction: column;}
  #myNavdisplay #iconNav {
    margin-top: 40%;
    right: 0;
    top: 0;
  }
  #myNavdisplay a {
    float: none;
    display: block;
    text-align: right;

  }
}

#home{
  height:100vh;
  width:100%;
  color: rgb(187, 184, 184);
  background: #780206; /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #780206, #061161); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #8b1d1f, hsl(233, 70%, 22%));

}


.profileDiv{
  flex:1;
  display: flex  ;

  align-items: center;
  justify-content: center;
  align-content: center;


}

.landing-grid {

 margin: auto;
}


#title{
  color:rgb(214, 203, 203);
  text-decoration: none;
  text-align: left;
  align-items: flex-start;
}

.profile_pic{

  height:250px;
  width:250px;
  border-radius: 50%;
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.banner-text-div{
  background: -webkit-linear-gradient(to right, #791d20, #242c69); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right , #242c69 , #791d20);
 opacity: 0.9;
 border-radius: 10px;
 padding: 10px;
 text-align: center;
}

.banner-text-div h1{
  font-size: 60px;
  font-weight: bold;
  color:#cacaca;
  margin: 0;
}

.banner-text-div hr{
  border-top: 4px dotted;
  color:rgb(243, 233, 233);
  width: 80%;
  display: inline-block;
}

.banner-text-div p {
  color: white;
  font-size: 20px;
  padding: 0.5em;
}

.sociallinks-div{
  display: flex;
  justify-content: space-between;
  width: 50%;
  margin: auto;
}

.sociallinks-div i{
  color:#cacaca;
  font-size: 3em;
  padding: 4px;
}

#projects {
  height:100vh;
}

.project-grids{
  display: flex;
  align-items: flex-start;
  align-content: flex-start;
  justify-content: flex-start;
  flex-flow: row-reverse;
}

.ContactDiv{
  height:100vh;
}




#skills {
  height:100vh;

}



#contact{
  height:100vh;
}

#aboutme{
  height:100vh;
}



@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
