html {
  scroll-behavior: smooth;

}

.App {
  text-align: center;
}


.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

Header{
  background: #780206; /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #780206, #061161); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #780206, #061161);
}

#myNav #iconNav, #nav_home {
  display: none;
}



#myNavdisplay #iconNav {
  display: none;
}

@media screen and (max-width: 600px) {
  #myNav a {display: none;}
  #myNav #iconNav {
    display: block;
  }
  
  #myNavdisplay #iconNav {
    display: block;
  }
}

@media screen and (max-width: 600px) {
  #myNavdisplay {
    position: absolute; background-color: #780206; display: flex; 
    flex-direction: column;
    height: 340px;
    margin:0;
    top:0px;
    right: 3px;
    align-items: flex-end;
    justify-content: flex-end;
  }
  #myNavdisplay #iconNav {
    margin-top: 20%;
    right: 0;
    top: 0;
  }
  #myNavdisplay a {
    float: none;
    display: block;
    text-align: right;

  }
}


@media screen and (min-width: 600px){
  .myNav a:hover{
    background-color: #02093d
  }
}


@media screen and (max-width: 600px){
  .mdl-layout__header-row {

      padding: 0 16px 0 30px !important;
  }
}

#home{
  height:100vh;
  width:100%;
  color: rgb(187, 184, 184);
  background: #780206; /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #780206, #061161); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #8b1d1f, hsl(233, 70%, 22%));

}


.profileDiv{
  flex:1;
  display: flex  ;

  align-items: center;
  justify-content: center;
  align-content: center;


}

.landing-grid {

 margin: auto;
}


#title{
  color:rgb(214, 203, 203);
  text-decoration: none;
  text-align: left;
  align-items: flex-start;

}

@media screen and (min-width: 600px){
  #title :hover{
    color:rgb(248, 244, 244);
    font-size: 25px;
  }
}


.profile_pic{

  height:250px;
  width:250px;
  border-radius: 50%;
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.banner-text-div{
  background: -webkit-linear-gradient(to right, #791d20, #242c69); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right , #242c69 , #791d20);
 opacity: 0.9;
 border-radius: 10px;
 padding: 10px;
 text-align: center;
}

.banner-text-div h1{
  font-size: 60px;
  font-weight: bold;
  color:#cacaca;
  margin: 0;
}

.banner-text-div hr{
  border-top: 4px dotted;
  color:rgb(243, 233, 233);
  width: 80%;
  display: inline-block;
}

.banner-text-div p {
  color: white;
  font-size: 20px;
  padding: 0.5em;
}

.sociallinks-div{
  display: flex;
  justify-content: space-between;
  width: 50%;
  margin: auto;
}

.sociallinks-div i{
  color:#cacaca;
  font-size: 3em;
  padding: 4px;
}

.sociallinks-div i:hover {
  font-size: 3.1em;
  padding-bottom: 1px;
  z-index: 2;
}


/* projects css */
#projects {
  height:100vh;
}

.project-grids{
  display: flex;
  align-items: flex-start;
  align-content: flex-start;
  justify-content: flex-start;
  flex-flow: row-reverse;
}


@media screen and (max-width: 600px) {
  #projects {
    height:auto;
  }
}



#skills {
  height:90vh;

}

/* contact div css*/
.ContactDiv{
  height: 95vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #a8a5a5;


}

.ContactContainer{
  display: flex;
  height:80%;
  width:70%;
  padding-bottom: 20px;
  background: white;
  border: 2px solid #9c6868;

}

.ContactLeft{
  flex:1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
}

.ContactContainer h3{
  font-family: 'Anton', sans-serif;
  font-weight: bold;
  margin: 0px;
}

ContactLeft h3{
  margin: auto;
}
.ContactLeft p{
  padding-top: 1em;
  font-family: 'Anton', sans-serif;
  font-weight: bold;
  font-size: 1.4em
}

.display_pic{
  height:50%;
  width:50%;
  border-radius: 20px;

}

.ContactRight{
  flex:1;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  margin-top: 55px;
 
}

.ContactRight hr {
  border-top: 5px dotted black;
  width: 50%;
  align-self: center;
 
  
}

.ContactRight i{
  padding: 18px;
  font-weight: bold;
  font-size: 2em;
  
}



@media screen and (max-width: 600px) {
  .ContactContainer{

    flex-direction: column;
    padding-bottom: 0px;

    justify-content: space-evenly;
  }
  .ContactContainer{

    height:100% !important;
    width:95% !important;
  }
  .ContactLeft{
    /* width: 98%; */
    padding-top: 6em;
 
  }

  .display_pic{
  height: 80%;
  width: 70%;
  }
  .ContactRight i {
    padding: 4px;
  }
}



/* contact div css ends*/

#aboutme{
  height:100vh;
}

